<div *ngIf="!submitted" >
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-lg-6">
        <div class="container-fluid" style="background-color:white; padding-top: 1rem; border-radius: 20px; border: 1px solid;">
        <div class="form_main">
          <h4 class="heading"><strong>Input</strong> for alignment <span></span></h4>
          <div class="form">
            <form (ngSubmit)="onSubmit()" #nwalgoForm="ngForm">

              <label>String 1</label>
              <input class="txt" type="text" style="text-transform:uppercase" name="Stringone"  [(ngModel)]=" stringOne" placeholder="String 1 (i.e CCATGTA)" required>
              <label>String 2</label>
              <input class="txt" type="text" style="text-transform:uppercase" name="Stringtwo" [(ngModel)]=" stringTwo" placeholder="String 2 (i.e CAATGAA)" required>
              <label>Match Score</label>
              <input class="txt"id="match" type="number"  min="1" name="match" pattern= "[0-9]+" [(ngModel)]="match" placeholder="match" required>
              <label>Mismatch Score</label>
              <input class="txt"type="number" name="mismatch" max="0" [(ngModel)]="mismatch" placeholder="mismatch" required>
              <label>Gap Penalty</label>
              <input class="txt"type="number" max="0" name= "gap" [(ngModel)]="gap" placeholder="gap" required>
              <input class="txt2" type="submit" [disabled]="!nwalgoForm.form.valid" [value]="btnText" [disabled]= "alignStop"
                     (click)="onSubmit();showGrid()" >
            </form>
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="submitted" class="container">
    <table>
      <tr>
        <td> String 1    : {{stringOne}}</td>
        <td>  String 2    : {{stringTwo}}</td>
        <td>  Match Score     : {{match}}</td>
        <td>  Mismatch Score    : {{mismatch}}</td>
        <td> Gap Penalty     : {{gap}}</td>
      </tr>
    </table>
  </div>

<!--<div *ngIf="!submitted" class="example-container container-fluid">
  <div class="col-lg-12">
<form (ngSubmit)="onSubmit()" #swalgoForm="ngForm">
  <div class="form-group row">
    <div class="col-lg-4">
      <label>String 1</label>
    </div>
    <div class="col-lg-4">
      <input type="text" style="text-transform:uppercase" name="Stringone" [(ngModel)]=" stringOne" placeholder="String 1 (i.e CCATGTA)" required>
    </div>
    <br>

  </div>

  <div class="form-group row">
    <div class="col-lg-4">
      <label>String 2</label>
    </div>
    <div class="col-lg-4">
      <input type="text" style="text-transform:uppercase" name="Stringtwo" [(ngModel)]=" stringTwo" placeholder="String 2 (i.e CAATGAA)" required>
    </div>
    <br>
  </div>

  <div class="form-group row">
    <div class="col-lg-4">
      <label>Match Score</label>
    </div>
    <div class="col-lg-4">
      <input type="number"  name="a" ng-pattern= "/^[0-9]+$/" [(ngModel)]="match" placeholder="match" min="0" required>
    </div>
    <br>
  </div>

  <div class="form-group row">
    <div class="col-lg-4">
      <label>Mismatch Score</label>
    </div>
    <div class="col-lg-4">
      <input type="number" name="b" [(ngModel)]="mismatch" placeholder="mismatch" max="0" required>
    </div>
    <br>
  </div>

  <div class="form-group row">
    <div class="col-lg-4">
      <label>Gap Penalty</label>
    </div>
    <div class="col-lg-4">
      <input type="number" name="c" [(ngModel)]="gap" max="0"placeholder="gap" required>
    </div>
    <br>
  </div>

  <input type="submit" class="btn btn-success" [disabled]="!swalgoForm.form.valid" class="btn" [value]="btnText" [disabled]= "alignStop"
         (click)="showGrid()">

</form>
  </div>
</div>

<div class="col-lg-12">
<div *ngIf="submitted">
  <h4>Simulation for following:</h4>
  <div class="row">
    <div class="col-lg-4">String 1    : </div>
    <div class="col-lg-4">{{stringOne}}</div>
  </div>
  <div class="row">
    <div class="col-lg-4">String 2    : </div>
    <div class="col-lg-4">{{stringTwo}}</div>
  </div>
  <div class="row">
    <div class="col-lg-4">Match Score     : </div>
    <div class="col-lg-4">{{match}}</div>
  </div>
  <div class="row">
    <div class="col-lg-4">Mismatch Score    : </div>
    <div class="col-lg-4">{{mismatch}}</div>
  </div>
  <div class="row">
    <div class="col-lg-4">Gap Penalty     : </div>
    <div class="col-lg-4">{{gap}}</div>
  </div>

</div>
</div>
-->
