<label id="lb2">Color Scheme :</label>
<select  class="btn btn-primary" [(ngModel)]="scheme">
  <option *ngFor="let x of colorSchemes" [value]="x.name" [selected]="scheme == x.name">{{x.name}}</option>
</select>
<div style="display: block; background: white ">

<div style="display: block; background: white ">
<!--panel header-->
<div class="timeline-shell" style="width: 1340px;height: 300px;" >
  <div class="timeline-header" [style.width.px]="width" >
    <span class="header-blank"></span>

    <span class="header-item" *ngFor="let col of this.getMaxSequenceLength();let j=index;let e=even;let o=odd;">
      <div class="item-label" *ngIf="e">{{j+1}}</div>
      <div class="item-label" *ngIf="o">.</div>
    </span>

  </div>
  <!--panel body-->
  <div class="timeline-body" style=" height: 150px;" [style.width.px]="width">
    <div class="body-item" *ngFor="let gene of geneArray">
      <span class="body-details-cell">
        <div class="detail-title" class="a">{{gene.id}}</div>
      </span>
      <span *ngFor="let char of gene.sequence.split('');let i=index;">
      <span class="body-graph-cell first-graph-cell" *ngIf="i==0" [style.background-color]="getColor(char)">{{char}}</span>
      <span class="body-graph-cell" *ngIf="i!=0" [style.background-color]="getColor(char)">{{char}}</span>
      </span>
    </div>
  </div>
</div>
</div>
