<div class="row">
  <div class="col-lg-7">
    <div class="card mb-3">
      <div class="card-header">
        <i class=""></i> Dynamic Matrix
      </div>
      <div class="card-body">
        <div id="myBarChart" width="100" height="50">
        <!--Inputvalues-->
          <div class="row">
            <div class="col-md-4">
              <span> String 1    : {{stringOne}}</span>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <span>  String 2    : {{stringTwo}}</span>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4 col-lg-4">
                Match Score     : {{match}}
            </div>
            <div class="col-md-4 col-lg-4">
                Mismatch Score    : {{mismatch}}
            </div>
            <div class="col-md-4 col-lg-4">
               Gap Penalty     : {{gap}}
            </div>
          </div>


          <!--Current step display-->
          Current Step : {{nextDataArrayIndex}}
          <!--Field to request step-->
          <input class="txt"id="request" type="number"  max={{max}} min="0" name="request" [(ngModel)]="requestedStep" placeholder="Request a step">
          <input class="btn" type="submit" [disabled]="request" [value]="reqBtn" (click)="goToRequest()" >
          <div clas="gridblock" style="overflow:auto; height: 500px;  width: 100%" >
            <!--Grid-->
            <table class="table table-bordered" cellspacing="10">
              <tr *ngFor="let rowArray of gridArray">
                <td  *ngFor="let colData of rowArray"

                     [ngClass]='{diagonal : (colData.diag_img), up : (colData.up_img),side : (colData.side_img),
                 diagonal_side:(colData.diag_side_img), diagonal_up:(colData.diag_up_img), side_up:(colData.side_up_img),diagonal_side_up:(colData.diag_side_up_img)
                 ,highlight : (colData.color), highlight2 : (colData.datacolor), highlight3 : (colData.refcolor)}'>
                  {{colData.cellvalue}}

                </td>
              </tr>
            </table>
          </div>
          <!--Final output-->
          <div *ngIf="final" clas="gridblock" style="overflow:auto; height: 200px;  width: 100%;">
            <table class="table borderless" cellspacing="10">
              <tr>
                <th>S1:</th>
                <td *ngFor="let char of resSeq1Array" >{{char}}</td>
              </tr>
              <tr>
                <th>S2:</th>
                <td *ngFor="let char2 of resSeq2Array" >{{char2}}</td>
              </tr>
            </table>

          </div>

        </div>
      </div>
      <div class="card-footer small text-muted"></div>
    </div>
  </div>

  <div class="col-lg-5">

    <div class="card mb-3">
      <div class="card-header">
        <i class=""></i> Navigate Buttons</div>
      <div class="card-body">
        <div id="myPieChart" width="100%" height="100">

          <br>
          <!--<input type="submit" class="btn" [value]="reloadBtn" (click)="goBack()" >-->
          <br>
          <input type="submit" class="btn" [value]="clearBtn" (click)="clearall()" >
          <input type="submit" class="btn" [value]="backBtn" [disabled] = "noback" (click)="previousStep()" >
          <input type="submit" class="btn" [value]="stepBtn" [disabled] = "stepStop" (click)="nextStep()" >
          <input type="submit" class="btn" style="width:25%" [value]="finalBtn" [disabled] = "finalStop"(click)="finalResult()">

          <!--Value Calculation-->
          <div *ngIf="!noback">
            <table class="table borderless" cellspacing="10">
              <tr>
                <th>Score From Above Cell</th>
                <td>Score of Cell({{dataArray[nextDataArrayIndex-1].row + 1}}, {{dataArray[nextDataArrayIndex-1].col + 2}})+gap</td>
                <td>{{dataArray[nextDataArrayIndex-1].upScore}}</td>
              </tr>
              <tr>
                <th>Score From Left Cell</th>
                <td>Score of Cell({{dataArray[nextDataArrayIndex-1].row + 2}}, {{dataArray[nextDataArrayIndex-1].col + 1}})+gap</td>
                <td>{{dataArray[nextDataArrayIndex-1].leftScore}}</td>
              </tr>
              <tr>
                <th>Score From Diagonal Cell</th>
                <td><span>Score of Cell({{dataArray[nextDataArrayIndex-1].row + 1}}, {{dataArray[nextDataArrayIndex-1].col + 1}})</span>
                  <span>+match/mismatch</span></td>
                <td>{{dataArray[nextDataArrayIndex-1].diagonalScore}}</td>
              </tr>
              <tr>
                <th  style="min-width: 100px;">Max Score</th>
                <td>Score of Cell({{dataArray[nextDataArrayIndex-1].row + 2}}, {{dataArray[nextDataArrayIndex-1].col + 2}})</td>
                <td>{{dataArray[nextDataArrayIndex-1].score}}</td>
              </tr>
            </table>

          </div>

        </div>

      </div>
      <div class="card-footer small text-muted"></div>
    </div>
  </div>
</div>


