<br>
<!--title-->
<div align="center"><h2>{{title|uppercase}}</h2></div>
<!--Menu-->
<app-tcoffee-menu></app-tcoffee-menu>
<br>
<!--panel-->
<div class="card mb-3" *ngIf="msasharingService.getVisibility()">
  <div class="card-header">
    <i class=""></i> Aligned Sequence Simulator</div>
  <div class="card-body">
    <app-tcoffee-panel></app-tcoffee-panel>
  </div>
  <div class="card-footer small text-muted"></div>
</div>
<!--<app-tcoffee-panel *ngIf="msasharingService.getVisibility()"></app-tcoffee-panel>-->
<br>
<!--chart-->
<div class="card mb-3" *ngIf="msasharingService.getVisibility()">
  <div class="card-header">
    <i class="fa fa-bar-chart"></i> Number of Aligned Characters-Chart</div>
  <div class="card-body">
    <app-tcoffee-chart></app-tcoffee-chart>
  </div>
  <div class="card-footer small text-muted"></div>
</div>
<!--<app-tcoffee-chart *ngIf="msasharingService.getVisibility()"></app-tcoffee-chart>-->
